FIREBASE_API_KEY=AIza6bKkru-KK9aF8RsIDy0P6TKKMKvo
FIREBASE_AUTH_DOMAIN=hotcode-whiteboard-module.firebaseapp.com
FIREBASE_PROJECT_ID=hotcode-whiteboard-module
FIREBASE_STORAGE_BUCKET=hotcode-whiteboard-module.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=629694345643
FIREBASE_APP_ID=1:629694389704:web:5477af32612347fedf34fd

